.feature {
    padding: 100px;
    background: $grey;
    text-align: center;

    &__icon, &__title {
        padding-bottom: 25px;
    }

    &__title {
        font-size: 20px;
        font-weight: bold;
    }

    &__p {
        font-size: 14px;
    }

    &__col {
        &__pad {
            padding: 0 20px;
        }
    }
}