.footer {
    color: #fff;
    padding: 75px 0;
    &_bg {
        background: $footer;
    }

    &_logo {
        padding-bottom: 20px;
    }

    &_social{
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }

        
        background: #fff;
        border-radius: 50%;
        text-align: center;
        height: 30px;
        width: 30px;
    }

    &_socials, &_list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    &_link {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        &_red {
            color: $red;
        }
        &_underline {
            text-decoration: underline;
            text-transform: none;
        }
    }

    &_title {
        font-size: 28px;
        padding-bottom: 35px;
        margin: 0;
    }

    &_list {
        display: flex;
        flex-direction: column;
        &_capitalize {
            text-transform: capitalize;
        }
    }

    &_contacts p{
        margin: 0;
        &:last-child {
            margin-bottom: 15px;
        }
    }
}

 